chat {
    display: block;
    position: fixed;
    color: black;
    background-color: aquamarine;
    padding: 10px;
    bottom: 25px;
    right: 25px;
    font-size: 1.3em;
    transform: translateY(100px);
    animation: show-chat 5s ease-out forwards;
    z-index: 1;
}

chat>div {
    animation: pulse 1s ease-out;
}

@keyframes show-chat {
    from {
        transform: translateY(100px);
    }

    to {
        transform: translateY(0px);
    }
}

/* @keyframes pulse {
    0% {
        transform: scale(1.5);
        font-size: 1em;
    }

    100% {
        transform: scale(1);
        background-color: white;
        font-size: 1em;
    }
} */